@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');
@import url("sections/header.css");
@import url('sections/feature.css');
@import url('sections/review.css');
@import url('sections/footer.css');
/* font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */
*,*::before,*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --Dark-blue: hsl(217, 28%, 15%);
    --mainbackground: hsl(218, 28%, 13%);
    --footer-background: hsl(216, 53%, 9%);
    --testimonials-background: hsl(219, 30%, 18%);
    --white: hsl(0, 0%, 100%);
   --cta-1: hsl(176, 68%, 64%);
    --cta-2: hsl(198, 60%, 50%);
    --error: hsl(0, 100%, 63%);
}
body{
    background-color: var(--Dark-blue);
    font-family: 'Open Sans', sans-serif;
    color:var(--white);
    overflow-x: hidden;
    max-width:1440px;
    width:100%;
    margin-inline: auto;
    scroll-behavior: smooth;
    transition: color 0.5s;
}
body.light{
    color: var(--Dark-blue);
    background-color: hsl(0deg 0% 92.27%);
}
body.light header{
    background-color: hsl(0deg 0% 92.27%);
    color:var(--Dark-blue);
}
body.light .logo{
    filter: brightness(0) saturate(100%);
}

body.light .feature,
body.light .features-container,
body.light .productive-container,
body.light .cta,
body.light .review,
body.light .review-container{
    background-color: #e5e7eb;
    color:var(--Dark-blue);
}
body.light .cta .container,body.light .review{
    background-color: #eceeef;
    color:var(--Dark-blue);
}
img{
    object-fit: contain;
}
.features,.section-3,.review-container,.cta{
    background-color: var(--mainbackground);   
}
header,
#hero-section h1{
    font-family: 'Raleway', sans-serif;
}
header{
    padding:1rem;
}
ul{
    list-style: none;
}
a,button{
    font-family: inherit;
    color: inherit;
    cursor: pointer;
}
a{
    text-decoration: none;
}
.feature p,.container p,.review p ,.cta p{
    opacity:0.8;
}
h4{
    font-size: 0.85rem;
}
p{
    font-size: 0.9rem;
}
@media screen and (min-width:800px){
    header{
        padding:1.7rem 3rem;
    }
}