.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:1rem;
}
header{
    background-color: var(--Dark-blue);
}
#hero-section{
    position: relative;
}
header ul li a{
    transition: 0.5s;
    font-size: clamp(0.8rem,0.95rem+1vw,1rem);
}

header ul li a:hover{
    color:var(--cta-1);
    border-bottom: 0.1rem solid var(--cta-1);
}

body.light header ul li a:hover{
    color:var(--cta-2);
    border-bottom: 0.1rem solid var(--cta-2);
}
header nav ul{
    display: flex;
    gap:0.8rem;
}
header .logo{
    width: 100px;
    height: 100px;
}
.hero-section-container{
    display: flex;
    gap:1.8rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
   
}
.hero-section-container > *{
    max-width: 600px;
    text-align: center;
    width: 100%;
}
.hero-section-container h1{
    font-size: clamp(1.8rem,1rem + 5vw,2rem);
    font-weight: 700;
    letter-spacing: 1.1px;
}

.btn{
    background-image:linear-gradient(to right,var(--cta-1),var(--cta-2));
    color:var(--white);
    padding: 0.75rem 5rem;
    border-radius: 30px;
    font-weight: 700;
    font-size: 1rem;
    max-width:300px;
    transition: box-shadow 0.5s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btn:hover{
    box-shadow: var(--cta-1) -2px 0px 8px;
}

#theme-toggle{
    width:20px;
    height:20px;
    background: transparent;
    border: none;
}
body.light #theme-toggle-light-icon{
    display: none;
}
body.light #theme-toggle-dark-icon{
    display: block;
}
body #theme-toggle-dark-icon{
    display: none;
}
body #theme-toggle-light-icon {
    display: block;
}
